*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  
}

.tw-container {
  width: 100%
}

@media (min-width: 640px) {
  .tw-container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .tw-container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .tw-container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .tw-container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .tw-container {
    max-width: 1536px
  }
}

.tw-absolute {
  position: absolute !important
}

.tw-relative {
  position: relative !important
}

.tw-inset-0 {
  inset: 0px !important
}

.tw-bottom-1\/4 {
  bottom: 25% !important
}

.tw-left-0 {
  left: 0px !important
}

.tw-left-4 {
  left: 1rem !important
}

.tw-right-0 {
  right: 0px !important
}

.tw-right-20 {
  right: 5rem !important
}

.tw-top-1 {
  top: 0.25rem !important
}

.tw-top-1\/2 {
  top: 50% !important
}

.tw-top-1\/4 {
  top: 25% !important
}

.tw-top-20 {
  top: 5rem !important
}

.-tw-z-10 {
  z-index: -10 !important
}

.tw-mx-auto {
  margin-left: auto !important;
  margin-right: auto !important
}

.tw-my-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important
}

.tw-my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important
}

.tw-mb-12 {
  margin-bottom: 3rem !important
}

.tw-mb-16 {
  margin-bottom: 4rem !important
}

.tw-mb-2 {
  margin-bottom: 0.5rem !important
}

.tw-mb-3 {
  margin-bottom: 0.75rem !important
}

.tw-mb-4 {
  margin-bottom: 1rem !important
}

.tw-mb-6 {
  margin-bottom: 1.5rem !important
}

.tw-mb-8 {
  margin-bottom: 2rem !important
}

.tw-mt-0 {
  margin-top: 0px !important
}

.tw-mt-4 {
  margin-top: 1rem !important
}

.tw-block {
  display: block !important
}

.tw-inline-block {
  display: inline-block !important
}

.tw-flex {
  display: flex !important
}

.tw-inline-flex {
  display: inline-flex !important
}

.tw-grid {
  display: grid !important
}

.tw-h-1 {
  height: 0.25rem !important
}

.tw-h-16 {
  height: 4rem !important
}

.tw-h-20 {
  height: 5rem !important
}

.tw-h-32 {
  height: 8rem !important
}

.tw-h-6 {
  height: 1.5rem !important
}

.tw-h-8 {
  height: 2rem !important
}

.tw-h-\[2px\] {
  height: 2px !important
}

.tw-h-\[600px\] {
  height: 600px !important
}

.tw-h-full {
  height: 100% !important
}

.tw-h-screen {
  height: 100vh !important
}

.tw-min-h-screen {
  min-height: 100vh !important
}

.tw-w-1 {
  width: 0.25rem !important
}

.tw-w-16 {
  width: 4rem !important
}

.tw-w-20 {
  width: 5rem !important
}

.tw-w-32 {
  width: 8rem !important
}

.tw-w-6 {
  width: 1.5rem !important
}

.tw-w-8 {
  width: 2rem !important
}

.tw-w-full {
  width: 100% !important
}

.tw-max-w-3xl {
  max-width: 48rem !important
}

.tw-max-w-4xl {
  max-width: 56rem !important
}

.tw-max-w-5xl {
  max-width: 64rem !important
}

.tw-max-w-7xl {
  max-width: 80rem !important
}

.tw-max-w-\[1024px\] {
  max-width: 1024px !important
}

.tw-max-w-\[1280px\] {
  max-width: 1280px !important
}

.tw-max-w-\[672px\] {
  max-width: 672px !important
}

.tw-max-w-\[768px\] {
  max-width: 768px !important
}

.-tw-translate-x-1\/2 {
  --tw-translate-x: -50% !important;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important
}

.tw--translate-x-1\/2 {
  --tw-translate-x: -50% !important;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important
}

.tw-rotate-45 {
  --tw-rotate: 45deg !important;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important
}

.tw--skew-y-12 {
  --tw-skew-y: -12deg !important;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important
}

.tw--skew-y-6 {
  --tw-skew-y: -6deg !important;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important
}

.tw-skew-y-12 {
  --tw-skew-y: 12deg !important;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important
}

.tw-transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important
}

.tw-grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr)) !important
}

.tw-flex-col {
  flex-direction: column !important
}

.tw-items-start {
  align-items: flex-start !important
}

.tw-items-center {
  align-items: center !important
}

.tw-justify-center {
  justify-content: center !important
}

.tw-justify-between {
  justify-content: space-between !important
}

.tw-gap-12 {
  gap: 3rem !important
}

.tw-gap-16 {
  gap: 4rem !important
}

.tw-gap-2 {
  gap: 0.5rem !important
}

.tw-gap-4 {
  gap: 1rem !important
}

.tw-gap-6 {
  gap: 1.5rem !important
}

.tw-gap-8 {
  gap: 2rem !important
}

.tw-gap-x-2 {
  -moz-column-gap: 0.5rem !important;
       column-gap: 0.5rem !important
}

.tw-gap-x-4 {
  -moz-column-gap: 1rem !important;
       column-gap: 1rem !important
}

.tw-space-y-12 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0 !important;
  margin-top: calc(3rem * calc(1 - var(--tw-space-y-reverse))) !important;
  margin-bottom: calc(3rem * var(--tw-space-y-reverse)) !important
}

.tw-space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0 !important;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse))) !important;
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse)) !important
}

.tw-space-y-24 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0 !important;
  margin-top: calc(6rem * calc(1 - var(--tw-space-y-reverse))) !important;
  margin-bottom: calc(6rem * var(--tw-space-y-reverse)) !important
}

.tw-space-y-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0 !important;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse))) !important;
  margin-bottom: calc(2rem * var(--tw-space-y-reverse)) !important
}

.tw-overflow-hidden {
  overflow: hidden !important
}

.tw-whitespace-nowrap {
  white-space: nowrap !important
}

.tw-rounded {
  border-radius: 0.25rem !important
}

.tw-rounded-full {
  border-radius: 9999px !important
}

.tw-rounded-lg {
  border-radius: 0.5rem !important
}

.tw-rounded-xl {
  border-radius: 0.75rem !important
}

.tw-border {
  border-width: 1px !important
}

.tw-border-2 {
  border-width: 2px !important
}

.tw-border-4 {
  border-width: 4px !important
}

.tw-border-solid {
  border-style: solid !important
}

.tw-border-none {
  border-style: none !important
}

.tw-border-electric-blue-500 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(3 169 244 / var(--tw-border-opacity, 1)) !important
}

.tw-border-electric-blue-500\/20 {
  border-color: rgb(3 169 244 / 0.2) !important
}

.tw-border-electric-blue-500\/40 {
  border-color: rgb(3 169 244 / 0.4) !important
}

.tw-border-gray-100 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(243 244 246 / var(--tw-border-opacity, 1)) !important
}

.tw-border-gray-200 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(229 231 235 / var(--tw-border-opacity, 1)) !important
}

.tw-border-gray-800 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(31 41 55 / var(--tw-border-opacity, 1)) !important
}

.tw-border-white {
  --tw-border-opacity: 1 !important;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1)) !important
}

.tw-bg-black {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1)) !important
}

.tw-bg-black\/50 {
  background-color: rgb(0 0 0 / 0.5) !important
}

.tw-bg-electric-blue-100 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(179 229 252 / var(--tw-bg-opacity, 1)) !important
}

.tw-bg-electric-blue-400 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(41 182 246 / var(--tw-bg-opacity, 1)) !important
}

.tw-bg-electric-blue-500 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(3 169 244 / var(--tw-bg-opacity, 1)) !important
}

.tw-bg-electric-blue-500\/20 {
  background-color: rgb(3 169 244 / 0.2) !important
}

.tw-bg-gray-200 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1)) !important
}

.tw-bg-gray-900 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity, 1)) !important
}

.tw-bg-transparent {
  background-color: transparent !important
}

.tw-bg-white {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1)) !important
}

.tw-bg-gradient-to-b {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops)) !important
}

.tw-bg-gradient-to-br {
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops)) !important
}

.tw-bg-gradient-to-l {
  background-image: linear-gradient(to left, var(--tw-gradient-stops)) !important
}

.tw-bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops)) !important
}

.tw-from-black {
  --tw-gradient-from: #000 var(--tw-gradient-from-position) !important;
  --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position) !important;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to) !important
}

.tw-from-electric-blue-200 {
  --tw-gradient-from: #81d4fa var(--tw-gradient-from-position) !important;
  --tw-gradient-to: rgb(129 212 250 / 0) var(--tw-gradient-to-position) !important;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to) !important
}

.tw-from-electric-blue-300 {
  --tw-gradient-from: #4fc3f7 var(--tw-gradient-from-position) !important;
  --tw-gradient-to: rgb(79 195 247 / 0) var(--tw-gradient-to-position) !important;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to) !important
}

.tw-from-electric-blue-500 {
  --tw-gradient-from: #03a9f4 var(--tw-gradient-from-position) !important;
  --tw-gradient-to: rgb(3 169 244 / 0) var(--tw-gradient-to-position) !important;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to) !important
}

.tw-from-electric-blue-900\/30 {
  --tw-gradient-from: rgb(1 87 155 / 0.3) var(--tw-gradient-from-position) !important;
  --tw-gradient-to: rgb(1 87 155 / 0) var(--tw-gradient-to-position) !important;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to) !important
}

.tw-from-green-50 {
  --tw-gradient-from: #f0fdf4 var(--tw-gradient-from-position) !important;
  --tw-gradient-to: rgb(240 253 244 / 0) var(--tw-gradient-to-position) !important;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to) !important
}

.tw-from-transparent {
  --tw-gradient-from: transparent var(--tw-gradient-from-position) !important;
  --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position) !important;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to) !important
}

.tw-from-yellow-900 {
  --tw-gradient-from: #713f12 var(--tw-gradient-from-position) !important;
  --tw-gradient-to: rgb(113 63 18 / 0) var(--tw-gradient-to-position) !important;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to) !important
}

.tw-via-black {
  --tw-gradient-to: rgb(0 0 0 / 0)  var(--tw-gradient-to-position) !important;
  --tw-gradient-stops: var(--tw-gradient-from), #000 var(--tw-gradient-via-position), var(--tw-gradient-to) !important
}

.tw-via-electric-blue-500\/20 {
  --tw-gradient-to: rgb(3 169 244 / 0)  var(--tw-gradient-to-position) !important;
  --tw-gradient-stops: var(--tw-gradient-from), rgb(3 169 244 / 0.2) var(--tw-gradient-via-position), var(--tw-gradient-to) !important
}

.tw-via-electric-blue-500\/30 {
  --tw-gradient-to: rgb(3 169 244 / 0)  var(--tw-gradient-to-position) !important;
  --tw-gradient-stops: var(--tw-gradient-from), rgb(3 169 244 / 0.3) var(--tw-gradient-via-position), var(--tw-gradient-to) !important
}

.tw-via-graphite-500\/30 {
  --tw-gradient-to: rgb(108 117 125 / 0)  var(--tw-gradient-to-position) !important;
  --tw-gradient-stops: var(--tw-gradient-from), rgb(108 117 125 / 0.3) var(--tw-gradient-via-position), var(--tw-gradient-to) !important
}

.tw-to-blue-50 {
  --tw-gradient-to: #eff6ff var(--tw-gradient-to-position) !important
}

.tw-to-electric-blue-500 {
  --tw-gradient-to: #03a9f4 var(--tw-gradient-to-position) !important
}

.tw-to-electric-blue-700 {
  --tw-gradient-to: #0288d1 var(--tw-gradient-to-position) !important
}

.tw-to-electric-blue-800 {
  --tw-gradient-to: #0277bd var(--tw-gradient-to-position) !important
}

.tw-to-electric-blue-900 {
  --tw-gradient-to: #01579b var(--tw-gradient-to-position) !important
}

.tw-to-graphite-900\/20 {
  --tw-gradient-to: rgb(18 20 22 / 0.2) var(--tw-gradient-to-position) !important
}

.tw-to-green-50 {
  --tw-gradient-to: #f0fdf4 var(--tw-gradient-to-position) !important
}

.tw-to-transparent {
  --tw-gradient-to: transparent var(--tw-gradient-to-position) !important
}

.tw-to-yellow-600 {
  --tw-gradient-to: #ca8a04 var(--tw-gradient-to-position) !important
}

.tw-bg-cover {
  background-size: cover !important
}

.tw-bg-clip-text {
  -webkit-background-clip: text !important;
          background-clip: text !important
}

.tw-bg-center {
  background-position: center !important
}

.tw-object-cover {
  -o-object-fit: cover !important;
     object-fit: cover !important
}

.tw-p-10 {
  padding: 2.5rem !important
}

.tw-p-3 {
  padding: 0.75rem !important
}

.tw-p-6 {
  padding: 1.5rem !important
}

.tw-px-10 {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important
}

.tw-px-20 {
  padding-left: 5rem !important;
  padding-right: 5rem !important
}

.tw-px-4 {
  padding-left: 1rem !important;
  padding-right: 1rem !important
}

.tw-px-6 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important
}

.tw-px-8 {
  padding-left: 2rem !important;
  padding-right: 2rem !important
}

.tw-py-10 {
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important
}

.tw-py-16 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important
}

.tw-py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important
}

.tw-py-20 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important
}

.tw-py-24 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important
}

.tw-py-32 {
  padding-top: 8rem !important;
  padding-bottom: 8rem !important
}

.tw-py-36 {
  padding-top: 9rem !important;
  padding-bottom: 9rem !important
}

.tw-py-6 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important
}

.tw-py-8 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important
}

.tw-py-9 {
  padding-top: 2.25rem !important;
  padding-bottom: 2.25rem !important
}

.tw-pl-12 {
  padding-left: 3rem !important
}

.tw-pt-10 {
  padding-top: 2.5rem !important
}

.tw-pt-8 {
  padding-top: 2rem !important
}

.tw-text-center {
  text-align: center !important
}

.tw-text-start {
  text-align: start !important
}

.tw-text-2xl {
  font-size: 2.4rem !important;
  line-height: 2.5rem !important
}

.tw-text-4xl {
  font-size: 3.6rem !important;
  line-height: 3.6rem !important
}

.tw-text-5xl {
  font-size: 4.8rem !important;
  line-height: 1 !important
}

.tw-text-6xl {
  font-size: 6rem !important;
  line-height: 1 !important
}

.tw-text-lg {
  font-size: 1.8rem !important;
  line-height: 1.8rem !important
}

.tw-text-sm {
  font-size: 1.4rem !important;
  line-height: 1.4rem !important
}

.tw-text-xl {
  font-size: 2rem !important;
  line-height: 2rem !important
}

.tw-font-black {
  font-weight: 900 !important
}

.tw-font-bold {
  font-weight: 700 !important
}

.tw-font-medium {
  font-weight: 500 !important
}

.tw-font-semibold {
  font-weight: 600 !important
}

.tw-uppercase {
  text-transform: uppercase !important
}

.tw-leading-none {
  line-height: 1 !important
}

.tw-leading-normal {
  line-height: 1.5 !important
}

.tw-leading-relaxed {
  line-height: 1.625 !important
}

.tw-leading-snug {
  line-height: 1.375 !important
}

.tw-tracking-tight {
  letter-spacing: -0.025em !important
}

.tw-tracking-tighter {
  letter-spacing: -0.05em !important
}

.tw-tracking-wide {
  letter-spacing: 0.025em !important
}

.tw-tracking-wider {
  letter-spacing: 0.05em !important
}

.tw-tracking-widest {
  letter-spacing: 0.1em !important
}

.tw-text-black {
  --tw-text-opacity: 1 !important;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1)) !important
}

.tw-text-electric-blue-200 {
  --tw-text-opacity: 1 !important;
  color: rgb(129 212 250 / var(--tw-text-opacity, 1)) !important
}

.tw-text-electric-blue-400 {
  --tw-text-opacity: 1 !important;
  color: rgb(41 182 246 / var(--tw-text-opacity, 1)) !important
}

.tw-text-electric-blue-500 {
  --tw-text-opacity: 1 !important;
  color: rgb(3 169 244 / var(--tw-text-opacity, 1)) !important
}

.tw-text-electric-blue-600 {
  --tw-text-opacity: 1 !important;
  color: rgb(3 155 229 / var(--tw-text-opacity, 1)) !important
}

.tw-text-graphite-400 {
  --tw-text-opacity: 1 !important;
  color: rgb(173 181 189 / var(--tw-text-opacity, 1)) !important
}

.tw-text-gray-100 {
  --tw-text-opacity: 1 !important;
  color: rgb(243 244 246 / var(--tw-text-opacity, 1)) !important
}

.tw-text-gray-300 {
  --tw-text-opacity: 1 !important;
  color: rgb(209 213 219 / var(--tw-text-opacity, 1)) !important
}

.tw-text-gray-400 {
  --tw-text-opacity: 1 !important;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1)) !important
}

.tw-text-gray-500 {
  --tw-text-opacity: 1 !important;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1)) !important
}

.tw-text-gray-600 {
  --tw-text-opacity: 1 !important;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1)) !important
}

.tw-text-gray-900 {
  --tw-text-opacity: 1 !important;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1)) !important
}

.tw-text-inherit {
  color: inherit !important
}

.tw-text-transparent {
  color: transparent !important
}

.tw-text-white {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1)) !important
}

.tw-no-underline {
  text-decoration-line: none !important
}

.tw-placeholder-gray-400::-moz-placeholder {
  --tw-placeholder-opacity: 1 !important;
  color: rgb(156 163 175 / var(--tw-placeholder-opacity, 1)) !important
}

.tw-placeholder-gray-400::placeholder {
  --tw-placeholder-opacity: 1 !important;
  color: rgb(156 163 175 / var(--tw-placeholder-opacity, 1)) !important
}

.tw-opacity-70 {
  opacity: 0.7 !important
}

.tw-shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1) !important;
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important
}

.tw-duration-300 {
  transition-duration: 300ms !important
}

.hover\:tw-bg-electric-blue-600:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(3 155 229 / var(--tw-bg-opacity, 1)) !important
}

.hover\:tw-bg-white:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1)) !important
}

.hover\:tw-from-electric-blue-600:hover {
  --tw-gradient-from: #039be5 var(--tw-gradient-from-position) !important;
  --tw-gradient-to: rgb(3 155 229 / 0) var(--tw-gradient-to-position) !important;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to) !important
}

.hover\:tw-to-electric-blue-900:hover {
  --tw-gradient-to: #01579b var(--tw-gradient-to-position) !important
}

.hover\:tw-text-black:hover {
  --tw-text-opacity: 1 !important;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1)) !important
}

.focus\:tw-border-electric-blue-500:focus {
  --tw-border-opacity: 1 !important;
  border-color: rgb(3 169 244 / var(--tw-border-opacity, 1)) !important
}

@media (min-width: 640px) {
  .sm\:tw-w-1\/2 {
    width: 50% !important
  }

  .sm\:tw-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important
  }

  .sm\:tw-flex-row {
    flex-direction: row !important
  }

  .sm\:tw-gap-12 {
    gap: 3rem !important
  }

  .sm\:tw-gap-8 {
    gap: 2rem !important
  }

  .sm\:tw-p-24 {
    padding: 6rem !important
  }

  .sm\:tw-px-0 {
    padding-left: 0px !important;
    padding-right: 0px !important
  }

  .sm\:tw-px-6 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important
  }

  .sm\:tw-py-32 {
    padding-top: 8rem !important;
    padding-bottom: 8rem !important
  }

  .sm\:tw-text-2xl {
    font-size: 2.4rem !important;
    line-height: 2.5rem !important
  }

  .sm\:tw-text-6xl {
    font-size: 6rem !important;
    line-height: 1 !important
  }

  .sm\:tw-text-7xl {
    font-size: 7.2rem !important;
    line-height: 1 !important
  }

  .sm\:tw-text-8xl {
    font-size: 9.6rem !important;
    line-height: 1 !important
  }
}

@media (min-width: 768px) {
  .md\:tw-left-1\/2 {
    left: 50% !important
  }

  .md\:tw-order-1 {
    order: 1 !important
  }

  .md\:tw-order-2 {
    order: 2 !important
  }

  .md\:tw-mt-0 {
    margin-top: 0px !important
  }

  .md\:tw-flex {
    display: flex !important
  }

  .md\:tw-w-1\/4 {
    width: 25% !important
  }

  .md\:tw-w-3\/4 {
    width: 75% !important
  }

  .md\:tw-max-w-7xl {
    max-width: 80rem !important
  }

  .md\:tw-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important
  }

  .md\:tw-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important
  }

  .md\:tw-flex-row {
    flex-direction: row !important
  }

  .md\:tw-flex-row-reverse {
    flex-direction: row-reverse !important
  }

  .md\:tw-gap-16 {
    gap: 4rem !important
  }

  .md\:tw-gap-24 {
    gap: 6rem !important
  }

  .md\:tw-px-12 {
    padding-left: 3rem !important;
    padding-right: 3rem !important
  }

  .md\:tw-pl-0 {
    padding-left: 0px !important
  }

  .md\:tw-pr-8 {
    padding-right: 2rem !important
  }

  .md\:tw-pt-0 {
    padding-top: 0px !important
  }

  .md\:tw-pt-2 {
    padding-top: 0.5rem !important
  }

  .md\:tw-text-right {
    text-align: right !important
  }

  .md\:tw-text-2xl {
    font-size: 2.4rem !important;
    line-height: 2.5rem !important
  }

  .md\:tw-text-5xl {
    font-size: 4.8rem !important;
    line-height: 1 !important
  }

  .md\:tw-text-6xl {
    font-size: 6rem !important;
    line-height: 1 !important
  }

  .md\:tw-text-7xl {
    font-size: 7.2rem !important;
    line-height: 1 !important
  }

  .md\:tw-text-8xl {
    font-size: 9.6rem !important;
    line-height: 1 !important
  }

  .md\:tw-text-xl {
    font-size: 2rem !important;
    line-height: 2rem !important
  }
}

@media (min-width: 1024px) {
  .lg\:tw-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important
  }

  .lg\:tw-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important
  }

  .lg\:tw-grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr)) !important
  }

  .lg\:tw-gap-24 {
    gap: 6rem !important
  }

  .lg\:tw-px-8 {
    padding-left: 2rem !important;
    padding-right: 2rem !important
  }

  .lg\:tw-text-9xl {
    font-size: 12.8rem !important;
    line-height: 1 !important
  }
}